.about-image {
  width: 100%;
}
.about-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

@media screen and (max-width: 39.9375em) {
 .about-image {
   margin-top: em(20);
 }
}
