.slick-slider {
  width: 100%;
  button {
    display: none !important
  }
}
.case {
  height: em(150);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  @media screen and (max-width: 39.9375em) {
    .case-slider {
      display: none;
    }
  }
