@import "scss/patterns/colors";
@import "scss/patterns/mixins";
@import "scss/patterns/functions";
@import "scss/patterns/margins";
@import "scss/patterns/typograph";

@import "scss/components/caseslider";

@import "scss/shared/footer";
